body{
   background-color: #1a1a1a;
}
.font{
   font-family: monospace;
   text-align: center;
   font-size: 400%;
   color: #ff3e00;
}
.image{
   width: 900px;
   height: 1300px;
   display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
   text-decoration: none;
   display: inline-block;
   padding: 8px 16px;
}
   a:hover {
      background-color: #ddd;
      color: black;
    }
 
.Back {
   background-color: #222;
   color: #ff3e00;
   font-size: 30px;

 }
 
 .Episode2 {
   background-color: rgb(205, 203, 200);
   color: #ff3e00;
   font-size: 30px;

 }
 @media screen and (max-width: 580px)
 {
   .font{
      font-size: 700%;
   }
   .Back {
      background-color: #222;
      color: #ff3e00;
      font-size: 70px;
   
    }
    
    .Episode2 {
      background-color: rgb(205, 203, 200);
      color: #ff3e00;
      font-size: 70px;
   
    }
 }